@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./images/background.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.todo {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
}

.todo__title {
  font-size: 2rem;
}

.todo__progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo__progress-info {
  flex: 1;
}

.todo__progress-text {
  margin-bottom: 8px;
}

.todo__progress-bar {
  width: 100%;
  height: 7px;
  background: rgba(255, 194, 209, 0.3);
  border-radius: 20px;
  position: relative;
}

.todo__progress-fill {
  width: 0;
  height: 100%;
  background: #ff6f91;
  border-radius: 20px;
  transition: width 0.3s ease;
}

.todo__progress-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6f91;
  border: 2px solid rgba(255, 194, 209, 0.3);
  font-weight: bold;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  padding: 0 12px;
  font-size: 1.5rem;
  white-space: nowrap;
  box-sizing: border-box;
  transition: width 0.3s ease;
  margin-left: 15px;
}

.todo__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.todo__form-label.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.todo__form-input {
  flex: 1;
  padding: 10px 17px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  background: rgba(255, 194, 209, 0.3);
  color: #dbdbdb;
}

.todo__form-input::placeholder {
  color: #bcbcbc;
}

.todo__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1rem;
  background: rgba(255, 194, 209, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: all 0.2s ease;
}

.todo__form-button:hover {
  transform: scale(1.1);
  background: #ff6f91;
}

.todo__list {
  width: 100%;
}

.todo__list-items {
  list-style: none;
  width: 100%;
}

.todo__list-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 194, 209, 0.3);
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  position: relative;
  transition: box-shadow 0.2s ease;
}

.todo__list-items li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo__list-checkbox {
  min-width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.todo__list-checkbox:checked {
  background: #ff6f91;
  transform: scale(1.1);
}

.todo__list-checkbox:checked::before {
  content: "\2713";
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.todo__list-text {
  flex: 1;
  margin-left: 10px;
  overflow-wrap: break-word;
}

.todo__list-item--completed .todo__list-text {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-color: #000;
  color: #000;
}

.todo__list-item--completed .todo__task-controls-btn--edit {
  opacity: 0.5;
  pointer-events: none;
}

.todo__task-controls {
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.todo__task-controls-btn {
  background: rgba(255, 194, 209, 0.3);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__task-controls-btn:hover {
  transform: scale(1.2);
}

.todo__task-controls-btn--edit {
  background: #ffbf00;
}

.todo__task-controls-btn--delete {
  background: #ff6f91;
}

@media (min-width: 601px) {
  .page {
    margin: 0 20px;
    padding: 0 10px;
  }

  .todo {
    padding: 1.5rem;
    gap: 20px;
  }

  .todo__progress-numbers {
    min-width: 60px;
    min-height: 60px;
    font-size: 1.5rem;
  }

  .todo__form-input {
    font-size: 1rem;
  }

  .todo__list-items li {
    font-size: 1rem;
  }
}
